{% extends "Home/base.html" %}
{% block content %}

<script>
		function confirm(str){
			alert("Are you sure you want to report this post?");
		}
</script>
<!--header end here-->
<!--single page start here-->
<div class="events">
	<div class="container">
		<div class="events-main">
			{% for item in data %}
			<div class="events-grid">
				<div class="col-md-3 event-month wthree">
					<h3><p>{{ item.time }}</p></h3>
					<h4><p>{{ item.SDate }}</p></h4>
				</div>
				<div class="col-md-5 event-text">
					<h4>{{ item.title }}</h4>
					<p>{{ item.description }}</p>
					<p><b>Duration:  </b>{{ item.duration }}</p>
					<p><b>Address:  </b>{{ item.venue }}</p>
					<p>{{ item.instructor }}</p>
					<form id="form1" name="form" role="form" action="" method="POST" >{% csrf_token %}
						<button class="button" type="submit" name="form_type" value="form1" onclick="confirm('Submit changes?')">Report Post</button>
						<input type="hidden" name="id" value="{{ item.id }}">
					</form>
					<p> </p>
				</div> 
			   <div class="clearfix"> </div>
			</div>
			{% endfor %}

			<div class="single-middle">
			<h3>Your Feedback</h3>
				<div class="media">
				  <div class="media-body">
					  {% for item in feedback %}
							<h4 class="media-heading">{{ item.name }}</h4>
							<p>{{ item.comment }}</p>
					  {% endfor %}
				  </div>
				</div>
			</div>
			<div class="single-bottom">
			<div id = "comment"></div>
			<h2>Leave a Comment</h2>
				 <form name="form" role="form" action="" method="POST" >{% csrf_token %}
					 	<div class="col-md-4 comment">
						   <input type="text" name="name" placeholder="Name" required="">
						</div>
						<div class="clearfix"> </div>
					 	<input type="text" name="comment" placeholder="Comment" required="">
					 	{% for item in data %}
					 		<input type="hidden" name="eventId" value="{{ item.id }}">
					 	{% endfor %}
					 	<input type="submit" value="Send" >
				</form>
			</div>
		</div>
	</div>
</div>


<!--single page end here-->
<!--banner end here-->
<!--footer start here-->

{% endblock %}