{% extends "Home/base.html" %}
{% block content %}

<!--header end here-->
<!--single page start here-->
<div class="events">
	<div class="container">
		<div class="events-main">
			<div class="events-top">
				<form id="search" role="form" action="" method="GET">
  					<input type="text" name = "q" placeholder="Search by Date or Title"  value="{{ request.GET.q }}"/>
  					<input type="submit" value="Search" />
				</form>
				<h3>Workshops</h3>
			</div>

			{% for item in data %}
			<div class="events-grid">
				<div class="col-md-3 event-month wthree">
					<h3><p>{{ item.time }}</p></h3>
					<h4><p>{{ item.SDate }}</p></h4>
				</div>
				<div class="col-md-5 event-text">
					<h4>
						<a target="_blank" href="{% url 'workshopDetail' %}?id={{item.id}}"> {{ item.title }} </a>
					</h4>
					<p>{{ item.description }}</p>
					<p><b>Duration:  </b>{{ item.duration }}</p>
					<p><b>Address:  </b>{{ item.venue }}</p>
					<p>{{ item.instructor }}</p>
					<p> </p>
				</div> 
			   <div class="clearfix"> </div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>


<!--single page end here-->
<!--banner end here-->
<!--footer start here-->

{% endblock %}